@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

a{
  color: #e6e6ee;
}
a:hover{
  color: #8f8f8f;
}
p.style
{ padding: 0 0 30px 0;
line-height: 2em;
font-size: 15pt;
font-family: 'Roboto Condensed', sans-serif;
}
.jumbotron {

 background-image:url("../images/Bkgd-index.jpg");
 color: rgb(255, 255, 255);
 font-weight: bold;
 
}
.custom-fa{
text-align:center;
height: 100%;
}
.custom-h2{
  margin: 0 auto;
}


.image {
display: block;
width: 100%;
height: auto;
}

#demotext {
font-size: 50px;
color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
color: #444444;
background: #FFFFFF;
}
.pd120{
    padding-left: 120px;
}

.pd200{
  padding-left: 200px;
}
.responsive {
    width: 50%;
    max-width: 400px;
    height: auto;
}

@media only screen and (max-width:720px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:480px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  .responsive-fb {
    width: 150%;
    max-width: 1000px;
    height: auto;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  .center{
    text-align:center;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  


  